---
---
@import 'variables';
@import 'base';
@import 'header';
@import 'sidebar';
@import 'resume';

a:hover, button:hover {
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: $base-background-color;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
