<div class="flex flex-row mb-10">
  <div class="mr-6">
    <a href="/" title="Home">
      <img src="/assets/images/avatar.jpg" alt="avatar" width="100" height="100" class="rounded-full object-left min-w-100 min-h-100 contrast-125">
    </a>
  </div>

  <div>
    <h1 class="block text-4xl font-semibold">Jason Taylor</h1>

    <div class="flex flex-no-wrap list-none uppercase font-light text-sm tracking-wide space-x-6 mt-4 text-neutral-500">
      <a href="#">Posts</a>
      <a href="#">Projects</a>
      <a href="#">Resume</a>
    </div>

    <div class="flex flex-row space-x-4 justify-start hidden">
      <a href="{{ site.social_links.github_url }}" target="_blank" title="GitHub">
        <i class="fab fa-github-square text-4xl"></i>
      </a>
      <a href="{{ site.social_links.twitter_url }}" target="_blank" title="Twitter">
        <i class="fab fa-twitter-square text-4xl"></i>
      </a>
      <a href="{{ site.social_links.linkedin_url }}" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin text-4xl"></i>
      </a>
      <a href="/feed.xml" target="_blank" title="RSS">
        <i class="fa fa-rss-square text-4xl"></i>
      </a>
    </div>
  </div>
</div>

