<div>
  <span>
    {% if site.social_links %}
      <ul>
        <li>
          <a href="{{ site.social_links.github_url }}" target="_blank" title="Find me on GitHub">
            <i class="fa fa-github fa-2x fa-inverse"></i>
          </a>
        </li>
        <li>
          <a href="{{ site.social_links.twitter_url }}" target="_blank" title="Find me on Twitter">
            <i class="fa fa-twitter fa-2x fa-inverse"></i>
          </a>
        </li>
        <li>
          <a href="{{ site.social_links.linkedin_url }}" target="_blank" title="Find me on LinkedIn">
            <i class="fa fa-linkedin-square fa-2x fa-inverse"></i>
          </a>
        </li>
      </ul>
    {% endif %}
  </span>
</div>
