<div class="header-bar">
  <span class="display-4"><a href="/" class="text-light">{{ site.data.resume.name }}</a></span>
  <span class="text-muted">{{ site.data.resume.title }}</span>
  <span class="pull-right">
    {% if site.social_links %}
      <ul class="nav">
        <li class="nav-item">
          <a href="{{ site.social_links.github_url }}" class="nav-link" target="_blank" title="Find me on GitHub">
            <i class="fa fa-github fa-2x fa-inverse"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ site.social_links.twitter_url }}" class="nav-link" target="_blank" title="Find me on Twitter">
            <i class="fa fa-twitter fa-2x fa-inverse"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ site.social_links.linkedin_url }}" class="nav-link" target="_blank" title="Find me on LinkedIn">
            <i class="fa fa-linkedin-square fa-2x fa-inverse"></i>
          </a>
        </li>
        <li class="nav-item">
          {% if page.url == '/resume' %}
            <a data-toggle="download-pdf" class="nav-link" title="Download my resume">
          {% else %}
            <a href="/resume" class="nav-link" title="View my resume">
          {% endif %}
              <i class="fa fa-file-pdf-o fa-2x fa-inverse"></i>
            </a>
        </li>
      </ul>
    {% endif %}
  </span>
</div>
