<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.url }}">

  <link rel="stylesheet" type="text/css" href="/vendor/font_awesome/css/all.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

  <!-- highlight.js -->
  <link rel="stylesheet" type="text/css" href="/vendor/highlight/11.7.0/styles/github-dark.min.css">
  <script src="/vendor/highlight/11.7.0/highlight.min.js"></script>
  <script src="/vendor/highlight/11.7.0/languages/bash.min.js"></script>
  <script src="/vendor/highlight/11.7.0/languages/ruby.min.js"></script>
  <script src="/vendor/highlight/11.7.0/languages/yaml.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
