{% if site.social_links %}
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="{{ site.social_links.github_url}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="{{ site.social_links.twitter_url}}" target="_blank"><i class="fa fa-twitter fa-2x twitter-blue"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="{{ site.social_links.linkedin_url}}" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-blue"></i></a>
    </li>
  </ul>
{% endif %}
