<div class="flex flex-row mb-10">
  <div class="mr-6">
    <a href="/" title="Home">
      <img src="/assets/images/avatar.jpg" alt="avatar" width="100" height="100" class="rounded-full object-left min-w-100 min-h-100 contrast-125">
    </a>
  </div>

  <div>
    <h1 class="block text-4xl font-semibold">Jason Taylor</h1>

    <div class="flex flex-no-wrap list-none uppercase font-light text-sm tracking-wide space-x-6 mt-4 text-neutral-500">
      <a href="/about">About Me</a>
      <a href="/posts">Posts</a>
      <a href="#">Projects</a>
    </div>
  </div>
</div>