<header>
  <h1>{{ site.resume.name }}</h1>
  <h2>{{ site.resume.title }}</h2>

  {% if site.social_links %}
    <ul class="nav">
      <li class="nav-item">
        <a href="{{ site.social_links.github_url}}" class="nav-link" target="_blank">
          <i class="fa fa-github fa-2x github-black"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ site.social_links.linkedin_url}}" class="nav-link" target="_blank">
          <i class="fa fa-linkedin-square fa-2x linkedin-blue"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ site.social_links.twitter_url}}" class="nav-link" target="_blank">
          <i class="fa fa-twitter fa-2x twitter-blue"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" id="download-pdf" class="nav-link">
          <i class="fa fa-file-pdf-o fa-2x pdf-red"></i>
        </a>
      </li>
    </ul>
  {% endif %}

  <!-- <p>
    My goal is to build tools &amp; applications that have a positive impact
    on the lives of the people who use them.
  </p> -->
</header>
