<header class="page-header">
  {% if site.avatar == 'true' %}
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/images/avatar.jpg" alt="my photo" class="avatar">
  </a>
  {% endif %}

  <h1 class="header-name">{{ site.resume.name }}</h1>

  <div class="title-bar">
    <h2 class="header-title">{{ site.resume.title }}</h2>
    {% include icon-links.html %}
  </div>

  <div class="executive-summary">
    <p>
      My goal is to build tools &amp; applications that have a positive impact
      in the lives of the people who use them.
    </p>
  </div>
</header>
