@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  font-family: 'PT Sans', sans-serif;
}

.twitter-blue {
  color: $twitter-blue;
  &:hover { color: rgba($twitter-blue, 0.5); }
}

.linkedin-blue {
  color: $linkedin-blue;
  &:hover { color: rgba($linkedin-blue, 0.5); }
}

.rss-orange {
  color: $rss-orange;
  &:hover { color: rgba($rss-orange, 0.5); }
}
