// These are official brand colors according to their respective websites
$twitter-blue: #55acee;
$linkedin-blue: #0077b5;
$rss-orange: #F26522;
$github-black: #000;
$pdf-red: #ea0000;

/* Coolors Exported Palette - coolors.co/fcfcfc-012a36-333232-70798c-4a7856 */
/* RGB */
$color1: rgba(252, 252, 252, 1);
$color2: rgba(24, 61, 72, 1);
$color3: rgba(51, 50, 50, 1);
$color4: rgba(112, 121, 140, 1);
$color5: rgba(74, 120, 86, 1);
