// These are official brand colors according to their respective websites
$twitter-blue: #55acee;
$linkedin-blue: #0077b5;
$rss-orange: #F26522;
$github-black: #000;
$pdf-red: #ea0000;

// Coolors Exported Palette - coolors.co/fcfcfc-183d48-78cbee-cbced5-49acb7
$color1: rgba(252, 252, 252, 1);
$color2: rgba(24, 61, 72, 1);
$color3: rgba(120, 203, 238, 1);
$color4: rgba(203, 206, 213, 1);
$color5: rgba(73, 172, 183, 1);

// Color classes
.github-black {
  color: $github-black;
}
