.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 4px;
  text-align: center;
  border-top: 2px solid #c7c7c7;
  padding-top: .4rem;
  float: right;

  @include media_larger_than_mobile {
    border-top: none;
    padding-top: 0;
  }

  .icon-link-item {
    display: inline-block;
    margin-left: 5px;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        border-bottom: none;
        color: $text-color;
      }
    }
  }
}

.twitter-blue {
  color: $twitter-blue;

  &:hover {
    color: $text-color;
  }
}

.linkedin-blue {
  color: $linkedin-blue;

  &:hover {
    color: $text-color;
  }
}

.rss-orange {
  color: $rss-orange;

  &:hover {
    color: $text-color;
  }
}

@include media_mobile {
  .icon-links {
    float: none;
  }
}
