.link {
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $color4;
    border-color: $color5;
    text-decoration: none;
    border-radius: 2em;
  }

  &-sidebar {
    color: $color1;
    display: block;
    font-size: 1.3em;
    margin-bottom: 0.2em;
  }
}
