.post {
  h4, h5, h6 {
    color: $accent-color;
  }

  .post-title {
    color: $title-color;
    margin: 0;

    .post-link {
      color: $title-color;
      text-decoration: none;

      &:hover {
        color: $text-color;
      }
    }
  }

  .post-meta {
    color: $accent-color;
    margin: -7px 0 0 0;
    font-style: italic;
    font-size: 14px;
  }
}

.post-divider {
  margin: 25px 0;
  min-height: 10px;

  .post-divider-top {
    border-bottom: 2px dashed $accent-color;
  }

  .post-divider-middle {
    border-bottom: 6px dotted $accent-color;
  }

  .post-divider-bottom {
    border-top: 2px dashed $accent-color;
  }
}
