.post {
  h4, h5, h6 {
    color: $accent-color;
  }

  .post-title {
    color: $title-color;
    margin: 0;

    .post-link {
      color: $title-color;
      text-decoration: none;

      &:hover {
        color: $text-color;
      }
    }
  }

  .post-meta {
    color: $accent-color;
    margin: -7px 0 0 0;
    font-style: italic;
    font-size: 14px;
  }
}
