.resume-section-header {
  color: $color2;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.skills-element {
  flex-grow: 1;
  flex-basis: 25%;

  @media (min-width: $xs-screen-max-width) and (max-width: $small-screen-max-width) {
    flex-basis: 50%;
  }

  @media (max-width: $xs-screen-max-width) {
    flex-basis: 100%;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
