.resume-section-title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  color: #BBB;
  margin-bottom: 10px;
}

.resume-card {
  background-color: white;
  padding: 30px 20px;
  box-shadow: $base-box-shadow;

  h5.blue {
    color: #007bff;
  }
}

.resume-card-company-name {
  font-family: 'Roboto Slab', serif;
}

.resume-card-position {
  margin-bottom: 5px;
}

.resume-card-position-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 5px;
}

.resume-card-description {
  padding: 10px 0;
}

.resume-card-accomplishment {
  padding-right: 30px;
  margin-bottom: 20px;
}

.resume-card-show-more {
  width: 100%;
  cursor: pointer;

  &::before,
  &::after {
    display: inline-block;
    content: "";
    border-top: .01rem solid black;
    width: 42%;
    margin: 0 1em;
    transform: translateY(-0.7em);
  }
}

.card-deck {
  margin-left: 0;

  .card {
    margin-left: 0;
    box-shadow: $base-box-shadow;
  }
}

.rubygems-logo {
  width: 2em;
  height: 2em;
  margin-left: -5px;
  display: inline-block;
}

.resume-link {
  &:hover {
    li {
      background-color: #eeedeb;
    }
  }
}
