@include media-breakpoint-up(lg) {
  .card-deck {
    display: block;
    position: sticky;
    top: 16px;

    .card {
      &:not(:first-child) { margin-left: 0; }
      &:not(:last-child) { margin-right: 0; }
    }
  }
}

@include media-breakpoint-only(lg) {
  .nav-link {
    padding: 0.5em 0.5em;
  }
}

.card-sidebar {
  border: 5px white solid;
  border-radius: 0;
  background-color: inherit;

  .sidebar-image {
    width: 100%;
  }

  .card-footer-container {
    border-top: 5px white solid;
  }
}
