.card-sidebar {
  border: 5px $base-background-color solid;
  border-radius: 0;
  background-color: white;
  box-shadow: $sidebar-box-shadow;

  .sidebar-image {
    width: 100%;
  }

  .card-footer-container {
    border-top: 5px $base-background-color solid;
    margin: 0 -1.25rem;
    padding: 1.25rem 1.25rem 0 1.25rem;
  }
}
