
.sidebar {
  float: right;
  padding: 20px;
  min-width: 25%;
  max-width: 25%;
  text-align: center;
  @include border-radius(20px);
  background-color: rgba(195, 215, 223, 0.5);

  .sidebar-section {
    text-align: left;
    padding: 20px 0;

    h4, h5, h6 {
      color: $title-color;
      margin: 0 0 10px 0;
      border-bottom: 2px dashed $accent-color;
    }

    p {
      margin: 0;
    }
    
    .sidebar-links {
      text-align: center;

      .sidebar-link-item {
        padding: 3px 0;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            border-bottom: none;
            color: #9c9c9c;
          }
        }
      }
    }
  }
}
