.center {
  text-align: center;
}

.hide {
  display: none;
}

.vertical-align {
  vertical-align: super;
}

.mr-15 {
  margin-right: 15px;
}

.mt-15 {
  margin-top: 15px;
}

@media (max-width: $small-screen-max-width) {
  .hidden-screen-sm {
    display: none;
  }
}

@media (min-width: $large-screen-min-width) {
  .hidden-screen-lg {
    display: none;
  }
}
