// These are official brand colors according to their respective websites
$twitter-blue: #55acee;
$linkedin-blue: #0077b5;
$rss-orange: #F26522;
$github-black: #000;
$pdf-red: #ea0000;

$base-background-color: #eeedeb;

$base-box-shadow: 0 0 14px rgba(0,0,0,.24);
$sidebar-box-shadow: 0 0 8px rgba(0,0,0,.24);
