<section>
  <h5>Open Source</h5>

  <div>
    {% for project in resume.projects %}
      <div>
        <div>
          <h4>{{ project.name }}</h4>
          <p>{{ project.description }}</p>
          <ul>
            <a href="{{ project.code }}" target="_blank">
              <li>
                  <i class="fa fa-github fa-2x"></i>
                  <span>Code on GitHub</span>
              </li>
            </a>
            {% if project.website %}
              <a href="{{ project.website }}" target="_blank">
                <li>
                  <div>
                    {% include svg/rubygems_logo.svg %}
                  </div>
                  <span>Install Gem</span>
                </li>
              </a>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
