<section>
  {% include resume/section_header.html text='Open Source Projects'%}

  <div>
    {% for project in resume.projects %}
      <div>
        <h4>{{ project.name }}</h4>
        <p>{{ project.description }}</p>
        <a href="{{ project.code }}" target="_blank">
          <i class="fab fa-github fa-2x"></i>
          <span>Code on GitHub</span>
        </a>
        {% if project.website %}
          <a href="{{ project.website }}" target="_blank">
            <div>
              <span class="svg-inline--fa fa-w-16 fa-2x">
                {% include svg/rubygems_logo.svg %}
              </span>
              <span>Install Gem</span>
            </div>
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
