{% assign resume = site.data.resume %}
<div class="resume">
  <!-- <header>
    <h1>{{ resume.name }}</h1>
    <h2>{{ resume.title }}</h2>

    {% if site.social_links %}
      <ul class="nav">
        <li class="nav-item">
          <a href="{{ site.social_links.github_url}}" class="nav-link" target="_blank">
            <i class="fa fa-github fa-2x github-black"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ site.social_links.linkedin_url}}" class="nav-link" target="_blank">
            <i class="fa fa-linkedin-square fa-2x linkedin-blue"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ site.social_links.twitter_url}}" class="nav-link" target="_blank">
            <i class="fa fa-twitter fa-2x twitter-blue"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" id="download-pdf" class="nav-link">
            <i class="fa fa-file-pdf-o fa-2x pdf-red"></i>
          </a>
        </li>
      </ul>
    {% endif %}

    <p>
      My goal is to build tools &amp; applications that have a positive impact
      on the lives of the people who use them.
    </p>
  </header>
 -->
  {% if resume.section_experience %}
    <section>
      <header>
        <h5 class="resume-section-title">Experience</h5>
      </header>

      {% for job in resume.jobs %}
        {% include resume/experience_section.html job=job %}
      {% endfor %}
    </section>
  {% endif %}

  {% if resume.section_projects %}
    <section>
      <header>
        <h5 class="resume-section-title">Open Source</h5>
      </header>

      {% for project in resume.projects %}
        {% include resume/project_section.html project=project %}
      {% endfor %}
    </section>
  {% endif %}

  {% if resume.section_education %}
    <section>
      <header>
        <h5 class="resume-section-title">Education</h5>
      </header>

      <div class="resume-job">
        <h4>{{ resume.education.school }}</h4>
        <h5>{{ resume.education.degree }}</h5>
        <p>Graduated in {{ resume.education.graduated }}</p>
      </div>
    </section>
  {% endif %}
</div>
