---
---

@import 'colors';

$sidebar-width: 15em;
$content-width: 50em;

html {
  line-height: 1.5;
  font-size: 18px;
  color: $color2;
}

body {
  background-color: $color1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  color: $color5;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.sidebar {
  background-color: $color2;
  color: $color4;
  flex: 1;
  padding: 1.2em;
  min-width: $sidebar-width;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  font-size: 1.3em;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.sidebar-link {
  background-color: $color4;
  color: $color2;
  border-radius: 2em;
  text-align: center;
  margin-bottom: 0.2em;

  &:hover {
    background-color: $color1;
  }
}

.content {
  flex: 2 1 auto;
  padding: 0 3em;
  max-width: $content-width;
}

@media (min-width: 48em) {
  .flexbox-container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .sidebar {
    max-width: $sidebar-width;
  }
}
