---
---

@import 'variables';

a:hover, button:hover {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
