---
layout: default
---
<p>Hi, my name is Jason. I'm a web developer with over 17 years of experience engineering software systems for reliability and resiliency by enhancing visibility into production systems, empowering teams with tools and data to make good decisions, and architecting for simplicity.</p>
<p class="mt-10">For the past 13 years I have been primarily writing Ruby and Rails applications but have moved up and down the stack from frond end to infrastructure. I consider myself a mostly back end engineer but I don't let layer boundaries in the stack prevent me from learning.</p>
<p class="mt-10">I enjoy playing around with code and making things work. I enjoy solving hard problems that require me to dig into debugging and learn something new about the system or technology that I'm working with. I am mostly passionate about making software better overall. We can do better if we believe in ourselves!</p>

{% include social_icons.html %}