<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container mt-3" style="padding-bottom: 6rem;">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          {{ content }}
        </div>
        <div class="col-xs-12 col-sm-3">
          {% include sidebar.html %}
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
    <footer class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
      <span class="navbar-brand">©2016 Jason Taylor &amp; {% include link.html link='https://thetizzo.com' text='thetizzo.com' %}</span>
    </footer>
  </body>
</html>
