<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container mt-3">
      <div class="row flex-items-xs-center">
        <div class="col-xs-7">
          {{ content }}
        </div>
        <div class="col-xs-3">
          {% include sidebar.html %}
        </div>
      </div><!-- end row -->
      <footer class="text-xs-center mt-3">
        ©2016 Jason Taylor &amp; <a href="https://thetizzo.com">thetizzo.com</a>
      </footer>
    </div><!-- end container -->
  </body>
</html>
