<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Why you should hire me</title>

    <script src="https://use.fontawesome.com/8cfd104077.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/pitch.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- End Favicon -->
  </head>
  <body>
    <div class="container">
      <article>
        <h1>Pitch: Hiring me at Basecamp</h1>
        <p>By <strong>Jason Taylor</strong>, Future Developer at Basecamp</p>
        <p>My curiosity for writing code started my senior year of college, during an internship at a telecommunications
          company. I was working on a sales tool that configured large phone systems with technical accuracy. I realized,
          early on in this experience, that I wanted to fully immerse myself in the world of software. This was a craft that
          I had passion for and was excited at the opportunity develop an expertise.</p>

        <p>To become a master at this craft, I am constantly challenging myself to expand my knowledge and skills.  This
          means I am committed to a lifetime of learning, experimenting, and improving.  It means I am never satisfied with
          just "good enough."  Additionally, I recognize the benefit of learning from other masters in order to increase my
          understanding.  More specifically, Basecamp would be an unparalleled opportunity for me to join a community
          of experts in software.</p>

        <p>As a team member, I am deeply passionate about building high quality products with the kind of care and
          attention to detail that is crucial.  I'm someone who values learning new technologies but who also values the
          stability of well developed and well tested systems that have been proven to work.  Oh, and my entire group
          of friends think I'm fun to be around! <i class="fa fa-smile-o"></i></p>

        <p>Moreover, I am a well-rounded team player.  Thanks to my dad, who ran an auto repair business for 30 years,
          I grew up in the small business world.  Thus, I understand the need to be versatile and flexible in order to
          make a business successful. For instance, a company may not have the luxury to hire someone for a specific task or
          problem but it still must be solved.  I thrive in this environment because I don’t hesitate to jump in, and learn
          what I need to find a solution. My standard of work is to contribute in any way I can, regardless of what
          is outlined in my job description.</p>

        <p>At my current position, I was recently asked which part of the system I wanted to work on and I immediately
          replied, "everything."  I always try to learn how every part of a system works.  That is, understanding the
          system holistically, allows me to better solve the problem(s). This has been especially important to me
          when working on small teams, because with this knowledge I can be a leader who helps others gain a similar perspective.</p>

        <p>One of the things I respect most about Basecamp is your commitment to solving the problems that arise
          when teams of people try to work together. In my experience, teams struggle most when there isn't clear
          communication.  Consequently, this results in frustrated team members and lower quality output.  Clear
          communication among team members helps keep everyone focused on achieving the collective goal.  Basecamp,
          the product, provides a single source of truth by consolidating team communications to fewer channels.  Basecamp,
          the people, provide an amazing counterbalance to the normal industry standard of how companies are supposed to
          operate.  I would love to join and help spread these ideals.</p>

        <p>I'm just getting started on this journey of becoming a great software engineer.  I would relish the
          opportunity to work at Basecamp.  I greatly appreciate your consideration of my candidacy for this position.
          For more information about me, here is my blog, online resume, and github profile.</p>
        <br>
        <h2>Code Examples</h2>
        <div>
          <h3>My Original Rails App</h3>
          <p><a href="https://github.com/thetizzo/tdfl"><i class="fa fa-github"></i>Code on GitHub</a></p>
          <p>This is the first Rails app I ever built. I play in a fantasy football league with some friends
          that has a very complex ruleset. We were originally managing it with email and spreadsheets which proved
          to be prohibitively cumbersome so a friend and I started this app to manage team rosters, weekly lineups, and scoring.</p>
          <p>It started out life on Rails 3.0 but is currently on 4.2 and now features live scoring of games during the season.
          It hasn't had a ton of upgrades recently but <a href="http://thetdfl.com">runs here</a> flawlessy each NFL season.</p>
        </div>
        <div>
          <h3>Parsing Library for NFL Stats</h3>
          <div>
            <a href="https://github.com/thetizzo/nfl_data"><i class="fa fa-github"></i>Code on GitHub</a>
            <span>&#124;</span>
            <a href="https://rubygems.org/gems/nfl_data"><i class="fa fa-diamond"></i>RubyGems page</a>
          </div>
          <p>This gem is the parsing library that we use for the fantasy football app.  It scrapes several pages of NFL.com
          to gather weekly statistics, information about players, and team schedules.  I extracted this gem from the overall
          application a few years ago because I thought people might find it useful.</p>
        </div>
        <div>
          <h3>CardConnect API Ruby Client</h3>
          <div>
            <a href="https://github.com/mobilecause/cardconnect"><i class="fa fa-github"></i>Code on GitHub</a>
            <span>&#124;</span>
            <a href="https://rubygems.org/gems/cardconnect"><i class="fa fa-diamond"></i>RubyGems page</a>
          </div>
          <p>This gem is a client API for interacting with the <a href="https://cardconnect.com/">CardConnect payment gateway</a>
            I built this for my current company, <a href="https://www.mobilecause.com/">MobileCause</a>, to be enable our system
            to process donations through this payment gateway.  CardConnect doesn't support Ruby specifically so I built this
            with the Ruby community in mind.</p>
        </div>
      </article>
    </div>
  </body>
</html>
