<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="">

    <div class="wrapper">

      {% include resume_header.html %}

      {% if site.resume.looking_for_work == 'yes' %}
      <a href="mailto:{{ site.resume.contact_email }}" class="contact-button">Contact me</a>
      {% endif %}

      {% if site.resume.section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">
            Tendril
            <a href="https://www.tendrilinc.com/" target="_blank">
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
          </h3>
          <h4 class="resume-item-details">Senior Software Engineer &bull; March, 2015 &mdash; Present</h4>
          <p class="resume-item-copy">
            At Tendril, I work on a Rails application that enables energy providers,
            such as <a href="https://www.duke-energy.com/" target="_blank">Duke Energy</a> &amp;
            <a href="https://www.cmpco.com/" target="_blank">Central Maine Power</a>, to
            engage their customers by encouraging them to save more energy &amp;
            providing actionable feedback on how to accomplish that goal.
          </p>
          <ul class="resume-item-list">
            <li>
              Leading the effort to reduce technical debt within the web portal's code base.
              This includes increasing test coverage, improving error handling, &amp;
              increasing performance.
            </li>
            <li>
              Leading the effort to build automated configuration &amp; deploy scripts
              for the web portal via <a href="http://www.ansible.com/" target="_blank">Ansible</a>.
            </li>
            <li>
              Primary developer on the Ruby based API wrapper that interacts with
              the Java microservices back end of the system via HTTP.
            </li>
            <li>
              Member of the Site Reliability Guild which was formed to address
              stability &amp; scaling issues across the whole system.
            </li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item">
          <h3 class="resume-item-title">
            MobileCause
            <a href="https://www.mobilecause.com/" target="_blank">
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
          </h3>
          <h4 class="resume-item-details">Senior Software Engineer &amp; Architect &bull; April, 2012 &mdash; March, 2015</h4>
          <p class="resume-item-copy">
            At MobileCause, I worked with a small engineering team to build
            a mobile fundraising platform that helped nonprofit organizations
            increase donations &amp; donor engagement.
          </p>
          <ul class="resume-item-list">
            <li>
              Produced a Rails application that empowered nonprofits to run
              fundraising campaigns with configurable donation forms, fundraising
              reports, SMS messaging, &amp; donor management.
            </li>
            <li>
              Led the effort to convert the UI of the Rails application from
              custom CSS to <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
              which increased the maintainability of the site as well as reduced time
              &amp; effort needed to build new pages.
            </li>
            <li>
              Implemented a RabbitMQ based message queue to handle certain jobs
              asynchronously (sending emails, processing file uploads) to improve
              the performance of the system.
            </li>
            <li>Wrote &amp; open-sourced an API integration wrapper for the
              <a href="http://www.cardconnect.com/" target="_blank">CardConnect</a>
              API in Ruby. See Projects section below for more details.
            </li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item">
          <h3 class="resume-item-title">
            Avaya
            <a href="http://www.avaya.com/usa/" target="_blank">
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
          </h3>
          <h4 class="resume-item-details">Application Manager &bull; January, 2007 &mdash; April, 2012</h4>
          <h4 class="resume-item-details">Application Developer &bull; June, 2005 &mdash; January, 2007</h4>
          <p class="resume-item-copy">
            At Avaya, I worked on a sales tool that provided configuration details,
            price estimation, &amp; design assurance for large scale telecommunications systems.
          </p>
          <ul class="resume-item-list">
            <li>
              Developer for the Product Model Wrapper. This involved working on an MFC
              based application written in C++, &amp; working on the interface between
              the product model API &amp; the application.
            </li>
            <li>
              Lead developer on four product models &amp; developer on twenty product
              models. This involved estimating level of effort for development
              work, managing &amp; maintaining separate code bases throughout
              multiple release cycles, working with Systems Engineers &amp; other
              developers to ensure the successful deployment of models &amp;
              managing regression test suites for each model.
            </li>
            <li>
              Onboarded new developers by mentoring them on processes,
              code architecture, &amp; understanding functional specifications, as well as managing
              computer environment setup &amp; installation.
            </li>
            <li>
              Maintained a homegrown suite of development tools used by a team of 11 developers.
              This suite included a UI rendering engine for product model UIs,
              integration between a COM based engine wrapper &amp; the .NET UI
              &amp; testing tools. This was written in VB.Net using Visual Studio 2008.
            </li>
          </ul>
        </div>

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume.section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">
            CardConnect Gem
            <a href="https://rubygems.org/gems/cardconnect" target="_blank">
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
            <a href="https://github.com/mobilecause/cardconnect" target="_blank" class="icon-link">
              <small><i class="fa fa-github fa-fw"></i></small>
            </a>
          </h3>
          <p class="resume-item-copy">CardConnect API Ruby Wrapper</p>
        </div><!-- end resume item -->

        <div class="resume-item">
          <h3 class="resume-item-title">
            NflData Gem
            <a href="https://rubygems.org/gems/nfl_data" target="_blank">
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
            <a href="https://github.com/thetizzo/nfl_data" target="_blank" class="icon-link">
              <small><i class="fa fa-github fa-fw"></i></small>
            </a>
          </h3>
          <p class="resume-item-copy">Parse NFL data like a boss</p>
        </div><!-- end resume item -->

        <div class="resume-item">
          <h3 class="resume-item-title">
            This Very Site!
            <a href="http://thetizzo.com/" target="_blank">
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
            <a href="https://github.com/thetizzo/thetizzo.github.io" target="_blank" class="icon-link">
              <small><i class="fa fa-github fa-fw"></i></small>
            </a>
          </h3>
          <p class="resume-item-copy">Learn more about what it takes to make all the brilliance happen. ;)</p>
        </div><!-- end resume item -->
      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume.section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-skill-list">
          <div class="resume-skill-section">
            <p><strong>Front End</strong></p>
            <ul>
              <li>JavaScript</li>
              <li>CoffeeScript</li>
              <li>Backbone.js</li>
              <li>CSS</li>
              <li>Sass</li>
              <li>Bootstrap</li>
            </ul>
          </div>
          <div class="resume-skill-section">
            <p><strong>Back End</strong></p>
            <ul>
              <li>Ruby</li>
              <li>Rails</li>
              <li>REST APIs</li>
              <li>Postgres</li>
              <li>MySQL</li>
              <li>Redis</li>
              <li>Resque</li>
              <li>RabbitMQ</li>
              <li>Java</li>
            </ul>
          </div>
          <div class="resume-skill-section">
            <p><strong>Testing</strong></p>
            <ul>
              <li>RSpec</li>
              <li>Minitest</li>
              <li>Jenkins</li>
              <li>Cucumber</li>
            </ul>
          </div>
          <div class="resume-skill-section">
            <p><strong>Tools</strong></p>
            <ul>
              <li>Ansible</li>
              <li>Capistrano</li>
              <li>Git</li>
              <li>GitHub</li>
              <li>Ubuntu</li>
              <li>CentOS</li>
              <li>Mac</li>
              <li>JSON</li>
              <li>XML</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume.section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-title">University of Colorado</h4>
          <h5 class="resume-item-details">Bachelor of Science in Electrical &amp; Computer Engineering</h5>
          <p class="resume-item-copy">Graduated in December of 2005</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume.section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

      </section>
      <!-- end Links -->
      {% endif %}

      {% include footer.html %}

    </div>

  </body>

</html>
