<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-default">

    <div class="wrapper">

      {% include header.html %}

      <div class="executive-summary">
        <p></p>
      </div>

      {% if site.resume.looking_for_work == 'yes' %}
      <a href="mailto:{{ site.resume.contact_email }}" class="contact-button">Contact me</a>
      {% elsif site.resume.looking_for_work == 'no' %}
      <a class="contact-button not-looking">I'm not looking for work right now.</a>
      {% else %}
      {% endif %}

      {% if site.resume.section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">
            <a href="https://www.tendrilinc.com/" target="_blank">
              Tendril
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
          </h3>
          <h4 class="resume-item-details">Senior Software Engineer &bull; March, 2015 &mdash; Present</h4>
          <p class="resume-item-copy">
            At Tendril, I work on a Rails based web portal that enables energy utilities to
            engage their customers and enable them to save energy.
          </p>
        </div><!-- end of resume-item -->

        <div class="resume-item">
          <h3 class="resume-item-title">
            <a href="https://www.mobilecause.com/" target="_blank">
              MobileCause
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
          </h3>
          <h4 class="resume-item-details">Senior Software Engineer &amp; Architect &bull; April, 2012 &mdash; March, 2015</h4>
          <ul class="resume-item-list">
            <li>Worked on an SMS message based fundraising platform that included 3 Ruby on Rails applications and a Java based messaging aggregator and router.</li>
            <li>
              Worked primarily on the Rails application that serves as the
              central administrative interface for the standard rate SMS
              messaging platform. This included tools for the customer's
              administrator to manage sending messages, manage lists of
              constituents, and get reports. This application also handled the
              processing of incoming messages, donations, and serving mobile web
              pages to constituents.
            </li>
            <li>
              Worked on the Java based messaging aggregator and router. This is
              our interface to either a Carrier directly or a messaging
              aggregator service which allows us to send SMS messages to the
              mobile phone endpoint. The work I did on this platform was working
              on integrating to the <a href="http://www.danalinc.com/" target="_blank">Danal API</a>
              to make them our back end billing platform for the Carrier Billed product.
            </li>
            <li>Implemented a RabbitMQ based message queue to offload certain types of work (sending emails, processing file uploads) to improve the performance of the system.</li>
            <li>
              Led the effort to convert the UI of the main Rails application
              from custom CSS to Bootstrap to increase the maintainability of
              the site as well as reduce time and effort needed to build new pages.
            </li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item">
          <h3 class="resume-item-title">
            <a href="http://www.avaya.com/usa/" target="_blank">
              Avaya
              <small><i class="fa fa-link fa-fw"></i></small>
            </a>
          </h3>
          <h4 class="resume-item-details">Student Intership &bull; June, 2005 &mdash; December, 2005</h4>
          <h4 class="resume-item-details">Application Developer &bull; December, 2005 &mdash; January, 2007</h4>
          <h4 class="resume-item-details">Application Manager &bull; January, 2007 &mdash; April, 2012</h4>
          <ul class="resume-item-list">
            <li>Developer for Product Model Wrapper: Involves working on MFC based application written in C++; working on interface between product model API and application.</li>
            <li>Lead developer for four product models: Involves estimating level of effort for development work; managing and maintaining separate code bases throughout multiple release cycles; working with CSEs and other developers to ensure the successful deployment of the models; managing regression test suite for each model.</li>
            <li>Developer for 20+ different product models: Involves interacting with Lead Developers and CSEs for those models to understand functional specs; working with Testers to fix bugs and ensure a high level of quality; unit testing.</li>
            <li>On-boarding of new developers: Tutoring new developers on processes, code architecture, and understanding functional specs; managed computer environment setup and installation.</li>
            <li>Maintenance of development environment: Maintained home grown development environment used by a team of 11 developers. This was written in VB.Net using Visual Studio 2008.</li>
            <li>Maintaining UI rendering engine for Product Model UI: Maintained home grown VB.Net DLL for rendering user interfaces for product models; Involved writing code to get COM based Product Model Wrapper to work with .NET UI; debugging to fix issues; managing code base in source control for use with multiple developers.</li>
            <li>Configuration System Engineer (CSE) role: Involves working with product managers to gather and analyze business and technical requirements; writing and managing functional specification documents for product models.</li>
            <li>Build delivery script: Developed a Ruby script to deploy the Product Model Wrapper builds to the Test environments. Involves copying files to server via FTP, editing the version number in a file, and invoking a script on the server.</li>
          </ul>
        </div>

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume.section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume.section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>


        <ul class="resume-item-list">
          <section>UI</section>
          <li>Backbone.js</li>
          <li>Highcharts</li>
          <li>CSS</li>
          <li>Sass</li>
          <section>Back End</section>
          <li>Postgres</li>
          <li>MySQL</li>
          <li>Redis</li>
          <li>Resque</li>
          <li>RabbitMQ</li>
          <li>Rails</li>
          <section>Configuration/Deployment</section>
          <li>Ansible</li>
          <li>Capistrano</li>
          <section>Languages</section>
          <li>Ruby</li>
          <li>JavaScript</li>
          <li>CoffeeScript</li>
          <li>Java</li>
          <li>C++</li>
          <section>Testing</section>
          <li>RSpec</li>
          <section>Tools</section>
          <li>XML</li>
          <li>JSON</li>
          <li>Linux</li>
          <li>Unix</li>
          <li>Mac</li>
          <li>Windows</li>
          <li>Jenkins</li>
          <li>Git</li>
          <li>GitHub</li>
          <li>Atom</li>
          <li>RubyMine</li>
          <li>IntelliJ</li>
          <li>MS Office</li>
        </ul>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume.section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-title">University of Colorado</h4>
          <h5 class="resume-item-details">Bachelor of Science in Electrical &amp; Computer Engineering</h5>
          <p class="resume-item-copy">Graduated in December of 2005</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume.section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Styles for this site were based on <a href="https://github.com/jglovier/resume-template">this project</a> by <a href="http://twitter.com/jglovier">@jglovier</a>.</p>
      </footer>

    </div>

  </body>

</html>
